.center{
  text-align: center;
}
.left{
  text-align: left;
  margin: 1%;
}
.maroon{
  color:maroon;
}
.left-1{
  display: flex;
  margin-left: 2rem;
}
body,html{
  background-color: rgb(14, 0, 0);
  color: white;
}
.file1{
  background-color: rgb(0, 132, 255);
}
.black{
  color:black;
}
.level4-1{
  background-color: rgb(255, 115, 0);
  display: flex;
  width: 80%;
  height: 0.45rem;
  margin-bottom: -5.5rem;
  margin-left: 10rem;
  margin: 0.3rem;

 
}
.level4-2{
  background-color: rgb(255, 115, 0);
  display: flex;
  width: 80%;
  height: 0.45rem;
  margin-left: 10rem;
  margin-bottom: 1.3rem;
  margin: 0.3rem;
}
.big1{
  font-size: 1.5rem;
}

.level4-all{
  margin-left:18%;
  margin-top:-4rem; 
   
}
.level4-let-1{
  display: flex;
  margin-top:-5rem;
  margin-left:86%; 
}
.level4-let-2{
  display: flex;
  margin-left:86%;
  margin-top: -3rem;
}
.hr{
  background-color: rgb(66, 66, 66);
  display: flex;
  height: 0.5rem;
  margin-bottom: 0.rem;
}

}
body {
  font-family:
    "Noto Sans JP",
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
}


  
}
::selection {
  background: darkred;
  color:white;
}


