.center{
  text-align: center;
  color: white;

}

.back1{
  background:rgb(120, 205, 255,0.5)20%;
  display: block;
  height: 3rem;
  border:0.25rem inset rgba(85, 0, 0, 0.527);
  
}
.let1{
  display: inline-block;
  transform:translate(0rem,0.75rem) ;
}

.back2{
  display: inline-block;
  transform: translate(0rem,3rem);
  background: rgb(54, 0, 0);
  width: 80%;
  height: 100rem;
  max-width:40rem;
}
html, body {
  background: black;
  margin: 0;
  height: 100%;
  font-family:
    "Noto Sans JP",
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
}

.let1-1{
  color: black;
  display: inline-block;
 
}
.let2{
  display: inline-block;
  position: relative;
  top:3rem
}





