.scp-class {
  font-size: 48px;
  font-weight: bold;

  background: linear-gradient(
    45deg,
    #00ffff,
    #ff00ff
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
