.scp-class {
  background: linear-gradient(135deg, #1aa3ff, #ff0033);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
