body {
  background: #050505;
  color: #e0e0e0;
  font-family: "Segoe UI", sans-serif;
}

.file-bar {
  background: #b3002d;
  text-align: center;
  font-weight: bold;
  padding: 12px;
  margin: 20px 0;
}

.scp-info h1 {
  font-size: 32px;
}

.level span {
  font-size: 14px;
  color: #ff4444;
}
