.center{
  text-align: center;
}
.left{
  text-align: left;
  margin: 1%;
}
.maroon{
  color:maroon;
}
.left-1{
  display: flex;
  margin-left: 2rem;
}
body,html{
  background-color: rgb(9, 0, 0);
  color: rgb(179, 179, 179);
}
.file1{
  background-color: rgb(40, 134, 197);
  height: 3.5rem;
}
.black{
  color:black;
}
.level4-1{
  background-color: rgb(255, 115, 0);
  display: flex;
  width: 80%;
  height: 0.45rem;
  margin-bottom: -5.5rem;
  margin-left: 10rem;
  margin: 0.3rem;

 
}
.level4-2{
  background-color: rgb(255, 115, 0);
  display: flex;
  width: 80%;
  height: 0.45rem;
  margin-left: 10rem;
  margin-bottom: 1.3rem;
  margin: 0.3rem;
}
.big1{
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 0.5rem;
  text-align: center;
}

.level4-all{
  margin-left:18%;
  margin-top:-4rem; 
   
}
.level4-let-1{
  display: flex;
  margin-top:-5rem;
  margin-left:86%; 
}
.level4-let-2{
  display: flex;
  margin-left:86%;
  margin-top: -3.4rem;
}
.hr{
  background-color: rgb(66, 66, 66);
  display: block;
  height: 0.5rem;
  transform: translate(0rem,-1rem);
}


}
html,body {
  font-family:
    "Noto Sans JP",
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
}


  
}
::selection {
  background: maroon;
  color:white;
}

@media (max-width: 600px) {
  /* スマホだけ変えたいやつ */
}










